body{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', monospace;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(180deg, #ddd, #eee);
    color: #eee;
    text-shadow: 1px 1px 10px #ddd;
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    height: 20%;
}

#primaryContainer {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
}

#calcContainer {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    background-color: none;
    max-width: 400px;
    height: 60vh;
    border-radius: 15px;
}

#calcDisplay {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    height: 15%;
    border-radius: 10px;
    padding-right: 20px;
    background-color: none;
    border: none;
    opacity: 0.5;
    color: rgb(0 0 0 / 0.5);
    font-size: 22px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    overflow: hidden;
}

#buttonContainer {
    display: flex;
}

.buttonRow {
    display: flex;
    width: 100%;
    background-color: none;
}

.button {
    flex: 1;
    margin: 8px;
    background-color: none;
    opacity: 0.8;
    border: none;
    border-radius: 10px;
    color: #bbb;
    font-size: 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.button.operator, #equals, #C {
    color: #c2b280;
}

.button:active {
    box-shadow: inset 0px 0px 20px -10px rgba(0,0,0,0.2);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background-image: linear-gradient(0deg, #ddd, #eee);
    color: #eee;
    text-shadow: 1px 1px 10px #ddd;
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    height: 10%; 
}